:root {
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Cinzel", serif;

	/* Color vars*/
	--dark-gold-transparent: rgba(255, 215, 100, 0.2);

	/* Gradient Vars */
	--error-gradient: linear-gradient(135deg, #ffb3b3, #f9bf99, #fe907d, #ff6e6e);
	--silver-border: linear-gradient(45deg, #aaa, #c0c0c0, #888, #d9d9d9);
	--gold-border: linear-gradient(
		135deg,
		#d8b166 0%,
		#b38b4e 20%,
		#8e6d36 40%,
		#6e5227 65%,
		#4e391a 85%,
		#3a2a13 100%
	);
	--gold-border-text: linear-gradient(135deg, #f0d887, #d4af58, #b88a2b);
	--prismatic-gradient: linear-gradient(
		135deg,
		#cdb4ff,
		#b9fbc0,
		#f1c0e8,
		#a3c4f3,
		#ffe5b4
	);
	--blue-gradient: radial-gradient(
			circle at center,
			rgba(26, 45, 70, 0.9) 0%,
			rgba(20, 37, 60, 0.95) 40%,
			rgb(10, 18, 30) 100%
		),
		linear-gradient(135deg, #20415f, #2a4f74, #1a2e48);
}

/* -------------------GENERIC------------------ */
input {
	color: white;
}
input:focus {
	outline: none;
}

.color-muted {
	color: rgba(255, 255, 255, 0.337);
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.margin-2 {
	margin: 10px;
}

.btn-aug-selected img {
	width: 60px;
	height: 60px;
}

.gold-button {
	padding: 10px;
	border-radius: 4px;
	font-family: "Cinzel", serif;
	background: var(--gold-border-text);
	color: black;
	border: none;
}

.search-input {
	padding: 5px;
	border-radius: 4px;
	font-family: "Cinzel", serif;
	margin: 10px;
	color: white;
	background: rgba(17, 31, 56, 0.95);
	border: 1px solid rgb(157, 134, 6);
}

/* -------------------------------------------------------------------------------------------------------------------SCROLLABLE CONTAINER */
.scrollable-container {
	max-height: 60vh;
	border-radius: 25px;
	margin-top: 25px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: 1rem;

	.inner-scroll-container {
		width: 100%;
	}
}

.scrollable-container::-webkit-scrollbar {
	width: 10px;
}

.scrollable-container::-webkit-scrollbar-track {
	background: #a1a1a1;
	border-radius: 5px;
}

.scrollable-container::-webkit-scrollbar-thumb {
	background: linear-gradient(180deg, #7f7f7f, #4f4f4f);
	border-radius: 5px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
	background: #3f3f3f;
}

/*---------------------------------------------------------------------------------------------------------------------------------- MODALS */
/* Generic */
.modal-content {
	background: var(--blue-gradient);
	max-height: 80vh;
	border-radius: 10px;
	padding: 2rem;
	padding-bottom: 4rem;
	max-width: fit-content;
	border: 2px solid rgb(140, 114, 30);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	position: relative;
	z-index: 10000;
}
.modal-backdrop {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.close-btn {
	position: absolute;
	bottom: 1rem;
	left: 45%;
	right: auto;
	padding: 8px;
	border-radius: 4px;
	font-family: "Cinzel", serif;
	background: var(--gold-border-text);
	color: black;
	border: none;
}

/* Advanced Options on the AugmentAlchemy Page*/
.advanced-stat-box {
	display: flex;
	flex-direction: column;
}
.advanced-options-modal {
	display: flex;
	flex-direction: row;
	right: 32rem;
	left: auto;
	top: 10%;
	position: absolute;
	.modal-content {
		display: flex;
		padding-bottom: 4rem;
		padding-top: 4rem;
		flex-direction: row;
		min-width: 800px;
		.scrollable-container {
			width: 200%;
		}
	}
}
.advanced-modal-title {
	position: absolute;
	top: 0;
	left: 30%;
	right: auto;
}
.left-advanced-modal-box {
	width: 100%;
	min-width: 400px;
}
.tag-box {
	display: flex;
	flex-direction: row;
}

/* --------------------------------------------------------------------------------------------------------------------------------TOOLTIPS */
/* Generic */
.tooltip-wrapper {
	position: relative;
	display: inline-block;
}
.tooltip-box--above {
	top: auto;
	bottom: 100%;
	margin-top: 0;
	margin-bottom: 5px;
}
.tooltip-box {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #222;
	color: #fff;
	padding: 0.5rem;
	border-radius: 5px;
	white-space: pre-line;
	width: 350px;
	margin-top: 5px;
	z-index: 45;
	font-size: 0.8rem;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	pointer-events: none;
}

/*Home page searching tooltip (this one tells users that you can't drag and drop while searching)*/
.search-tooltip {
	position: absolute;
	top: 100%;
	left: 0;
	background: #1e1e1e;
	color: #fff;
	padding: 6px 10px;
	border-radius: 8px;
	font-size: 0.85rem;
	white-space: nowrap;
	margin-top: 4px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
	animation: fadeIn 0.2s ease-in-out;
	z-index: 10;
}
.search-with-tooltip {
	position: relative;
	display: inline-block;
}
.search-tooltip {
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}
.search-tooltip.fade-out {
	opacity: 0;
}

/* ----------------------------------------------------------------------------------------------------------------------------------- GEMS */
/* The order of this section matters or our gems look funky, haha */
/* Generic Gem stylings*/

.gem-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	img {
		width: 45px;
	}
	.gem-tile {
		display: flex;
		flex-direction: column;
		margin: 10px;
		align-items: center;
	}
}

.gem > .tooltip-box {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #222;
	color: #fff;
	padding: 0.5rem;
	border-radius: 5px;
	white-space: pre-line;
	width: fit-content;
	margin-top: 5px;
	z-index: 45;
	font-size: 0.8rem;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	pointer-events: none;
}
.item-gem-box,
.aug-gem-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.settings.stats,
.settings.role,
.settings.effects,
.settings.playstyle,
.settings.scalings,
.settings.misc {
	transition: transform 0.2s ease-out;
}
.settings .stats:hover,
.settings .role:hover,
.settings .effects:hover,
.settings .playstyle:hover,
.settings .scalings:hover,
.settings .misc:hover {
	transform: scale(1.2);
}

/* Specific border mask image for behind the gem */
.settings.stats::before {
	mask-image: url("/gems/stats.png");
	-webkit-mask-image: url("/gems/stats.png");
}
.settings.role::before {
	mask-image: url("/gems/role.png");
	-webkit-mask-image: url("/gems/role.png");
}
.settings.effects::before {
	mask-image: url("/gems/effects.png");
	-webkit-mask-image: url("/gems/effects.png");
}
.settings.playstyle::before {
	mask-image: url("/gems/playstyle.png");
	-webkit-mask-image: url("/gems/playstyle.png");
}
.settings.scalings::before {
	mask-image: url("/gems/scalings.png");
	-webkit-mask-image: url("/gems/scalings.png");
}
.settings.misc::before {
	mask-image: url("/gems/misc.png");
	-webkit-mask-image: url("/gems/misc.png");
}

/* Generic border mask behind the gem */
.settings::before {
	content: "";
	position: absolute;
	inset: 0;
	transform: scale(1.2); /* slightly bigger than gem */
	background: linear-gradient(45deg, #aaa, #c0c0c0, #9b9b9b, #d9d9d9);
	mask-repeat: no-repeat;
	mask-size: contain;
	mask-position: center;
	z-index: 0;
}

.settings {
	position: relative;
	width: 20px;
	height: 20px;

	.base-gem {
		width: 100%;
		height: 100%;
		display: block;
	}

	/* Main gem container */
	.tinted-gem {
		position: relative;
		width: 20px;
		height: 20px;
		mask-repeat: no-repeat;
		mask-size: contain;
		mask-position: center;
		z-index: 1;
	}

	/* Sets the mask to the size of the image */
	.tinted-gem.stats {
		mask-image: url("/gems/stats.png");
		-webkit-mask-image: url("/gems/stats.png");
	}
	.tinted-gem.role {
		mask-image: url("/gems/role.png");
		-webkit-mask-image: url("/gems/role.png");
	}
	.tinted-gem.effects {
		mask-image: url("/gems/effects.png");
		-webkit-mask-image: url("/gems/effects.png");
	}
	.tinted-gem.playstyle {
		mask-image: url("/gems/playstyle.png");
		-webkit-mask-image: url("/gems/playstyle.png");
	}
	.tinted-gem.scalings {
		mask-image: url("/gems/scalings.png");
		-webkit-mask-image: url("/gems/scalings.png");
	}
	.tinted-gem.misc {
		mask-image: url("/gems/misc.png");
		-webkit-mask-image: url("/gems/misc.png");
	}

	/* Color overlay */
	/* Color is declared farther down to keep it out of the working CSS cause it's long */
	.tinted-gem::after {
		content: "";
		position: absolute;
		inset: 0;
		mix-blend-mode: multiply;
		opacity: 1;
		pointer-events: none;
		mask-image: inherit;
		-webkit-mask-image: inherit;
		mask-repeat: inherit;
		mask-size: inherit;
		mask-position: inherit;
	}
}

.stats > .tinted-gem::after {
	mask-image: url("/gems/stats.png");
	-webkit-mask-image: url("/gems/stats.png");
}
.role > .tinted-gem::after {
	mask-image: url("/gems/role.png");
	-webkit-mask-image: url("/gems/role.png");
}
.effects > .tinted-gem::after {
	mask-image: url("/gems/effects.png");
	-webkit-mask-image: url("/gems/effects.png");
}
.playstyle > .tinted-gem::after {
	mask-image: url("/gems/playstyle.png");
	-webkit-mask-image: url("/gems/playstyle.png");
}
.scalings > .tinted-gem::after {
	mask-image: url("/gems/scalings.png");
	-webkit-mask-image: url("/gems/scalings.png");
}
.misc > .tinted-gem::after {
	mask-image: url("/gems/misc.png");
	-webkit-mask-image: url("/gems/misc.png");
}

/* ------------------------------------------------------------------------------------------------------------------------------ HOME PAGE */
.home-page-container {
	display: flex;
	flex-direction: column;
}
.home-top-section {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	width: 98vw;
}

.home-page-subtitle {
	font-size: 1.5rem;
	letter-spacing: 1.5px;
	background: var(--gold-border-text);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin: 0;
	text-shadow: 0 0 4px var(--dark-gold-transparent);
}

.droppable-container {
	background: var(--blue-gradient);
	background-blend-mode: overlay;
	text-align: center;
	position: relative;
	z-index: 1;
	min-height: 100px;
	padding: 0.4rem;
	border-radius: 15px;
	margin: 0.4rem;
	display: flex;
	flex-direction: column;
	padding-bottom: 2rem;
}

.champ-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
	margin: -10px 0;
}

.draggable-champ {
	height: 40px;
	width: 40px;
	margin: 10px 10px;
	transition: transform 0.2s ease;
}

.draggable-champ:hover {
	transform: scale(1.25);
}

[draggable="true"] {
	user-select: none;
}

[draggable="true"] {
	cursor: grab;
}

.no-drag .draggable-champ {
	pointer-events: none;
	cursor: not-allowed;
}
/* ----------------------------------------------------------------------------------------------------------------------------- CHAMP PAGE */
.top-champ-container {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
}

.gold-button.champ-page {
	width: 40px;
	height: 40px;
	margin: 25px;
}

.title-box {
	display: flex;
	flex-direction: row;

	button {
		display: flex;
		height: 25px;
		align-self: center;
		padding: 5px;
		justify-content: center;
		align-items: center;
		margin-left: 20px;
		transition: all 0.2s;
	}

	button:hover {
		transform: scale(1.2);
	}
}
.reset-btn.gold-button {
	right: 0;
	position: absolute;
	top: 1rem;
}

.selected-augs {
	padding-top: 3rem;
	margin-left: 150px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.selected-augs-top {
	position: relative;
}

.selected-augs-title {
	position: absolute;
	left: 49%;
	right: auto;
}

.container-prismatic,
.container-gold,
.container-silver {
	padding: 0.75rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.btn-home {
	margin: 40px;
	display: flex;
	font-size: 26px;
	align-items: center;
	justify-content: center;
}

.champ-icon {
	height: 120px;
	width: 120px;
}

.aug-icon {
	height: 40;
	width: 40;
}

.btn-aug-selected {
	border: 4px solid transparent;
	width: 100px;
	height: 150px;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	background: radial-gradient(
		circle at center,
		#3a3a3a 0%,
		#2a2a2a 35%,
		#1a1a1a 65%,
		#000000 100%
	);
	border-radius: 10px;
	margin: 0.5em;
	align-items: center;
	justify-content: center;
	font-size: 10px;
}

/* ------------------------------------------------------------------------------------------------------------------------- NOT FOUND PAGE */

.not-found-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.not-found-container {
	margin-top: 6rem;
	border-radius: 40px;
	background: var(--blue-gradient);
	background-blend-mode: overlay;
	padding: 4rem 2rem;
	text-align: center;
	border-radius: 15px;
}
/* ------------------------------------------------------------------------------------------------------------------------------ ITEM PAGE */

.item-page {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	padding: 2rem;
	background-color: #1e1e2f;
	color: #f0f0f0;
	font-family: "Segoe UI", sans-serif;
}

.item-box-wrapper {
	position: relative;
	display: inline-block;
}

/* ----------------------------------------------------------------------------------------------------------------------------- LOGIN PAGE */
.login-submit-button {
	padding: 10px;
	border-radius: 4px;
	font-family: "Cinzel", serif;
	background: var(--gold-border-text);
	color: black;
	border: none;
}
.login-toggle-button {
	border-radius: 4px;
	padding: 5px;
	font-family: "Cinzel", serif;
	background: var(--gold-border-text);
	color: black;
	border: none;
}

.login-html,
.register-html {
	height: 100%;
}

.login-form::after {
	border-radius: 40px;
	content: "";
	position: absolute;
	inset: 0;
	background: radial-gradient(
		circle at center,
		rgba(255, 255, 255, 0.03) 0%,
		rgba(0, 0, 0, 0.3) 80%
	);
	pointer-events: none;
	z-index: 0;
}

.login-page {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	height: 98vh;
	background: radial-gradient(
		circle at center,
		#121212 0%,
		#0b0b0b 60%,
		#050505 100%
	);
}

.login-title {
	font-size: 4rem;
	background: var(--gold-border-text);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 6px rgba(255, 223, 120, 0.2);
	letter-spacing: 1.5px;
	font-weight: 700;
}
.login-input {
	padding: 10px;
	border-radius: 4px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	margin: 10px;
	background: rgba(28, 50, 90, 0.95);
	border: 1px solid gold;
}

.login-section,
.login-section-border {
	border-radius: 40px;
	background: var(--blue-gradient);
	background-blend-mode: overlay;
	padding: 4rem 2rem;
	text-align: center;
	position: relative;
	z-index: 1;
}
/* ------------------------------------------------------------------------------------------------------------------- AUGMENT ALCHEMY PAGE */
.augment-alchemy-title {
	font-size: 3rem;
	background: var(--gold-border-text);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 6px rgba(255, 223, 120, 0.2);
	letter-spacing: 1.5px;
	font-weight: 700;
}

.clear-button {
	padding: 3px;
	font-size: 8px;
	display: flex;
	flex-wrap: wrap;
	max-width: 50px;
	border-radius: 4px;
	margin-left: -50px;
	font-family: "Cinzel", serif;
	background: var(--gold-border-text);
	color: black;
	border: none;
}

.deselect-aug-button {
	border-radius: 4px;
	font-family: "Cinzel", serif;
	background: var(--gold-border-text);
	color: black;
	border: none;
}

.augment-input {
	padding: 5px;
	border-radius: 4px;
	font-family: "Cinzel", serif;
	margin-top: 10px;
	color: white;
	background: rgba(17, 31, 56, 0.95);
	border: 1px solid rgb(157, 134, 6);
}
.augment-input-ul {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	max-height: 200px;
	overflow-y: auto;
	background-color: rgba(31, 64, 120, 0.95);
	border: 1px solid #ccc;
	margin: 0;
	padding: 0;
	list-style: none;
	border-radius: 5px;
	z-index: 10;
}

.item-number-select {
	padding: 5px;
	border-radius: 4px;
	font-family: "Cinzel", serif;
	margin: 10px;
	color: white;
	background: rgba(17, 31, 56, 0.95);
	border: 2px solid rgb(157, 134, 6);
}
.item-number-select:focus {
	outline: none;
}

.augment-input-li {
	text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
	padding: 8px;
	cursor: pointer;
	border-bottom: 1px solid #999999;
}

.augment-input-li.Prismatic {
	background: var(--prismatic-gradient);
}
.augment-input-li.Gold {
	background: var(--gold-border);
}
.augment-input-li.Silver {
	background: var(--silver-border);
}

.augment-alchemy-page {
	position: relative;
}
.augment-alchemy-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.home-btn-aa {
	width: 20px;
	height: 20px;
}

.augment-selector-panel {
	position: relative;
}

.item-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
}


.augment-panel {
	background: var(--blue-gradient);
	background-blend-mode: overlay;
	text-align: center;
	position: relative;
	z-index: 1;
	margin: 0.4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 200px;
	height: fit-content;
	min-height: 500px;
	padding: 2rem;
	border-radius: 15px;
}

.augment-panel-border {
	border-radius: 25px;
	background: var(--gold-border);
	box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.1),
		inset 0 -2px 3px rgba(0, 0, 0, 0.3), 0 2px 6px rgba(0, 0, 0, 0.4);
	padding: 0.2rem 0.2rem;
	text-align: center;
	position: relative;
}

.augment-panel-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.augment-alchemy-tile {
	.btn-aug-background {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 10rem;
		height: 13rem;
		.btn-aug {
			width: 9rem;
			height: 12rem;
			img {
				width: 8rem;
				height: auto;
			}
		}
	}
}

/* -------------------------------------------------------------------------------------------------------------------------- AUGMENT TILES */

.btn-aug img {
	width: 35px;
	height: 35px;
}

.btn-aug-background.Prismatic {
	background: var(--prismatic-gradient);
	color: #111;
	border: none;
	padding: 0.05rem 0.05rem;
	border-radius: 6px;
	font-weight: bold;
	transition: transform 0.2s ease;
	margin: 5px;
}
.btn-aug-background.Gold {
	background: var(--gold-border);
	color: #111;
	border: none;
	padding: 0.05rem 0.05rem;
	border-radius: 6px;
	font-weight: bold;
	transition: transform 0.2s ease;
	margin: 5px;
}
.btn-aug-background.Silver {
	background: var(--silver-border);
	color: #111;
	border: none;
	padding: 0.05rem 0.05rem;
	border-radius: 6px;
	font-weight: bold;
	transition: transform 0.2s ease;
	margin: 5px;
}
.btn-aug.selected {
	width: 100px;
	height: 150px;
	font-size: 14px;
}

.btn-aug,
.selected {
	color: white;
	font-family: "Cinzel", serif;
	display: flex;
	flex-direction: column;
	border: 4px solid transparent;
	width: 50px;
	height: 100px;
	padding: 2rem;
	background: radial-gradient(
		circle at center,
		#3a3a3a 0%,
		#2a2a2a 35%,
		#1a1a1a 65%,
		#000000 100%
	);
	border-radius: 10px;
	margin: 0.5em;
	align-items: center;
	justify-content: center;
	font-size: 10px;
}

.selected-aug-background {
	border: none;
	padding: 0.1rem 0.1rem;
	border-radius: 6px;
	font-weight: bold;
	transition: transform 0.2s ease;
	margin: 10px;
}
.selected-aug-background.Prismatic {
	background: var(--prismatic-gradient);
}

.selected-aug-background.Gold {
	background: var(--gold-border);
}

.selected-aug-background.Silver {
	background: var(--silver-border);
}

/* ---------------------------------------------------------------------------------------------------------------------------- ITEM ICONS */

.sugg-item-frame {
	margin-top: -0.8rem;
	width: 4.6rem;
	height: 4.6rem;
	background: var(--gold-border);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
}

.suggested-item {
	padding: 10px;
}
.sugg-item-img {
	width: 4rem;
	z-index: 30;
	display: block;
}

/* ------------------------------------------------------------------------------------------------------------------------------ ACCORDION */
.accordion {
	font-family: "Cinzel", serif;
	max-width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.tag-subtitle {
	font-size: 0.8rem;
}
.stats-tiles {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	.accordion-item {
		min-width: fit-content;
		width: fit-content;
	}
}

.accordion-item {
	overflow: hidden;
	border-radius: 8px;
	min-width: 100%;
	transition: max-height 0.3s ease;
	margin: 6px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.accordion-item.stats .accordion-header {
	cursor: default;
	background: linear-gradient(135deg, #ad964a, #b5913d, #a37822);
}
.accordion-item .accordion-header {
	padding: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	font-size: 1rem;
	cursor: pointer;
	border: none;
	outline: none;
	transition: background-color 0.3s ease;
	background: linear-gradient(135deg, #ad964a, #b5913d, #a37822);
}
.accordion-item .accordion-header .accordion-icon {
	font-size: 1.2rem;
}

.accordion-item .accordion-content {
	width: 100%;
	color: rgb(255, 255, 255);
	font-size: 0.8rem;
	transition: max-height 0.3s ease;
	max-height: fit-content;
}

.accordion-item .accordion-content p {
	padding: 6px;
	margin: 0;
}

.accordion-item .accordion-header {
	color: #e3e3e3;
}

.accordion-item .accordion-content {
	background: #1e1e1e;
}

/* -------------------------------------------------------------------------------------------------------------------------- SAVE MESSAGE */

.save-message {
	color: #333;
	padding: 8px;
	min-height: 25px;
	text-align: center;
	font-weight: bold;
	transition: opacity 0.3s ease-in-out;
	overflow: hidden;
}

.save-message--visible {
	opacity: 1;
	height: auto;
}

.save-message--hidden {
	opacity: 0;
	height: 0;
}

.save-message--success {
	background: var(--prismatic-gradient);
}

.save-message--error {
	background: var(--error-gradient);
}

/* ----------------------------------------------------------------------------------------------------------------------------- KEYFRAMES */
@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes shine {
	0% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

/* -------------------------------------------------------------------------------------------------------------------- COLOR DECLARATIONS */

/* ------Keyword color declarations------ */

.keyword-ap {
	color: #8662eb;
	font-weight: bold;
}
.keyword-magicdmg {
	color: #cbb9ff;
	font-weight: bold;
}
.keyword-adaptive {
	color: #7a78ff;
	font-weight: bold;
}
.keyword-ad {
	color: #f87171;
	font-weight: bold;
}
.keyword-physdmg {
	color: #ffa8a8;
	font-weight: bold;
}
.keyword-health {
	color: #34d399;
	font-weight: bold;
}
.keyword-armor {
	color: #fbbf24;
	font-weight: bold;
}
.keyword-mr {
	color: #a78bfa;
	font-weight: bold;
}
.keyword-as {
	color: #f8e5a4;
	font-weight: bold;
}
.keyword-vamp {
	color: #fb4646;
	font-weight: bold;
}
.keyword-haste {
	color: #93c5fd;
	font-weight: bold;
}
.keyword-crit {
	color: #ff6262;
	font-weight: bold;
}
.keyword-mana {
	color: #5c89fc;
	font-weight: bold;
}
.keyword-shield {
	color: #fffddb;
	text-shadow: 0 0 2px #ffffffaa, 0 0 4px #ffd70066;
	font-style: italic;
	font-weight: 600;
}
.keyword-onhit {
	color: #eab308;
	font-weight: bold;
}
.keyword-juice {
	background: linear-gradient(
		135deg,
		#cdb4ff,
		#b9fbc0,
		#f1c0e8,
		#a3c4f3,
		#ffe5b4
	);
	background-size: 300%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	font-weight: bold;
	animation: shine 3s ease-in-out infinite;
}
.keyword-burn {
	background: linear-gradient(
		135deg,
		#c12f03,
		#b93e19,
		#ff6f3c,
		#c94c1c,
		#c12f03,
		#b93e19,
		#ff6f3c,
		#c94c1c,
		#c12f03
	);
	background-size: 600%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	font-weight: bold;
	letter-spacing: 0.4px;
	animation: shine 3s ease-in-out infinite;
}
.keyword-truedmg {
	background: linear-gradient(
		120deg,
		#ffffff,
		#ffd1fb,
		#ffffff,
		#c2f0ff,
		#ffffff,
		#ff92ff,
		#ffffff,
		#c2f0ff,
		#ffffff
	);
	background-size: 600%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	font-weight: 800;
	letter-spacing: 0.5px;
	text-shadow: 0 0 3px #ffffffaa, 0 0 8px #ff66ccaa;
	animation: shine 2.5s ease-in-out infinite;
}
.keyword-ultimate {
	color: #62d5ff;
	font-weight: bold;
	text-shadow: 0 0 3px #00eaff88, 0 0 6px #00b7ff66;
}
.keyword-curse {
	color: #b7b7b7;
	text-shadow: 0 0 3px #000000, 0 0 6px #8b00ff, 0 0 12px #8b00ff;
	font-style: italic;
}
.keyword-autocast {
	color: #9aff7c;
	font-weight: bold;
	text-shadow: 0 0 3px #9aff7c88, 0 0 6px #63ff5466;
}
.keyword-range {
	color: #ffe38c;
	font-weight: bold;
	text-shadow: 0 0 3px #ffe38c88, 0 0 6px #ffd70055;
}
.keyword-anvil {
	background: linear-gradient(
		120deg,
		#7e7e7e,
		#1c1c1c,
		#8d8c8c,
		#1c1c1c,
		#a0a0a0,
		#1c1c1c,
		#5c5c5c
	);
	background-size: 400%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: transparent;
	font-weight: 900;
	letter-spacing: 0.15px;
	text-shadow: 0 0 1px #ffffffb3;
	animation: shine 2s linear infinite;
}
.keyword-armourpen {
	color: #ff7e45;
	font-weight: bold;
	text-shadow: 0 0 2px #ff7e4577, 0 0 4px #d65c2f55;
}
.keyword-magicpen {
	color: #c273ff;
	font-weight: bold;
	text-shadow: 0 0 2px #c273ff77, 0 0 4px #9b3eff55;
}

/* ------Gem color declarations------ */

/* Role */
.role > .tinted-gem.Assassin::after {
	background-color: #ff0000;
}
.role > .tinted-gem.ADC::after {
	background-color: #ffe761;
}
.role > .tinted-gem.Hybrid::after {
	background-color: #c0aaff;
}
.role > .tinted-gem.Mage::after {
	background-color: #8307e2;
}
.role > .tinted-gem.Support::after {
	background-color: #33c9ff;
}
.role > .tinted-gem.Tank::after {
	background-color: #15ff00;
}
.role > .tinted-gem.Bruiser::after {
	background-color: #a80101;
}
.role > .tinted-gem.Sniper::after {
	background-color: #ffaa7c;
}
/* Effects */
.effects > .tinted-gem.Ultimate-Scaling::after {
	background-color: #9c1111;
}
.effects > .tinted-gem.AOE::after {
	background-color: #d400f5;
}
.effects > .tinted-gem.Slow::after {
	background-color: #addaff;
}
.effects > .tinted-gem.Immobilize::after {
	background-color: #008cff;
}
.effects > .tinted-gem.Immobilize-Enhancer::after {
	background-color: #005aa3;
}
.effects > .tinted-gem.Shield::after {
	background-color: #63ff75;
}
.effects > .tinted-gem.Burn::after {
	background-color: #ff610c;
}
.effects > .tinted-gem.Bleed::after {
	background-color: #ff0000;
}
.effects > .tinted-gem.Grievous::after {
	background-color: #004813;
}
.effects > .tinted-gem.On-Hit::after {
	background-color: #ffa448;
}
.effects > .tinted-gem.Block::after {
	background-color: #ffccb7;
}
.effects > .tinted-gem.Damage-Steroid::after {
	background-color: #ff9999;
}
.effects > .tinted-gem.Energized::after {
	background-color: #f5ffa7;
}
.effects > .tinted-gem.Enhanced-Auto-Attack::after {
	background-color: #cbff21;
}
.effects > .tinted-gem.Movement::after {
	background-color: #00e5a4;
}
.effects > .tinted-gem.On-Takedown-Effect::after {
	background-color: #ff5090;
}
.effects > .tinted-gem.Cooldown-Reduction::after {
	background-color: #c09cff;
}
.effects > .tinted-gem.Projectile::after {
	background-color: #ed7bff;
}
.effects > .tinted-gem.Auto-Reset::after {
	background-color: #5f9200;
}
.effects > .tinted-gem.Execute::after {
	background-color: white;
}

/* Playstyle */
.playstyle > .tinted-gem.Stacking::after {
	background-color: #d9baff;
}
.playstyle > .tinted-gem.Aggressive::after {
	background-color: #ff0404;
}
.playstyle > .tinted-gem.Burst::after {
	background-color: #7c0000;
}
.playstyle > .tinted-gem.Defensive::after {
	background-color: #1b8800;
}
.playstyle > .tinted-gem.Sticky::after {
	background-color: #5f9200;
}
.playstyle > .tinted-gem.Only-Child::after {
	background-color: #ff9e4a;
}
.playstyle > .tinted-gem.Auto-Attacking::after {
	background-color: white;
}
.playstyle > .tinted-gem.Kiting::after {
	background-color: #74e1ff;
}
.playstyle > .tinted-gem.Auto-Weaving::after {
	background-color: #0aadda;
}
.playstyle > .tinted-gem.Spell-Heavy::after {
	background-color: #7f55ff;
}
.playstyle > .tinted-gem.Positioning-Pattern::after {
	background-color: #00485c;
}

/* Scalings */
.scalings > .tinted-gem.Max-Health-Scaling::after {
	background-color: #15ff00;
}
.scalings > .tinted-gem.Crit-Scaling::after {
	background-color: #ffe761;
}
.scalings > .tinted-gem.Magic-Resist-Scaling::after {
	background-color: #ff9dd0;
}
.scalings > .tinted-gem.Mana-Scaling::after {
	background-color: #33c9ff;
}
.scalings > .tinted-gem.Armour-Scaling::after {
	background-color: #ffccb7;
}
.scalings > .tinted-gem.Max-Health-Damage::after {
	background-color: #890000;
}
.scalings > .tinted-gem.Missing-Health-Damage::after {
	background-color: white;
}
.scalings > .tinted-gem.Current-Health-Damage::after {
	background-color: #ff0000;
}

/* Plain Stats */
.stats > .tinted-gem.Crit::after {
	background-color: #ffe761;
}
.stats > .tinted-gem.Crit-Damage::after {
	background-color: #fbb800;
}
.stats > .tinted-gem.Omnivamp::after {
	background-color: #c98900;
}
.stats > .tinted-gem.Lifesteal::after {
	background-color: #a80101;
}
.stats > .tinted-gem.AD::after {
	background-color: #ff0000;
}
.stats > .tinted-gem.Armour::after {
	background-color: #ffccb7;
}
.stats > .tinted-gem.Lethality::after {
	background-color: #ffa178;
}
.stats > .tinted-gem.Armour-Pen::after {
	background-color: #ff7438;
}
.stats > .tinted-gem.Armour-Shred::after {
	background-color: #dc5a22;
}
.stats > .tinted-gem.Health::after {
	background-color: #15ff00;
}
.stats > .tinted-gem.Health-Regen::after {
	background-color: #0d9a00;
}
.stats > .tinted-gem.Heal-and-Shield-Power::after {
	background-color: #0d7300;
}
.stats > .tinted-gem.Adaptive-Force::after {
	background-color: #e7b2ff;
}
.stats > .tinted-gem.Ability-Haste::after {
	background-color: #8307e2;
}
.stats > .tinted-gem.AP::after {
	background-color: #7f55ff;
}
.stats > .tinted-gem.Tenacity::after {
	background-color: #5300b9;
}
.stats > .tinted-gem.Range-Increase::after {
	background-color: #00485c;
}
.stats > .tinted-gem.Move-Speed::after {
	background-color: #00e5a4;
}
.stats > .tinted-gem.Attack-Speed::after {
	background-color: white;
}
.stats > .tinted-gem.Mana::after {
	background-color: #33c9ff;
}
.stats > .tinted-gem.Mana-Regen::after {
	background-color: #a3e6ff;
}
.stats > .tinted-gem.Magic-Resist::after {
	background-color: #ff9dd0;
}
.stats > .tinted-gem.Magic-Pen::after {
	background-color: #fa3192;
}
.stats > .tinted-gem.Magic-Resist-Shred::after {
	background-color: #d30066;
}
.stats > .tinted-gem.Summoner-Spell-Cooldown::after {
	background-color: #ff4afc;
}

/* Misc */
.misc > .tinted-gem.Threshold::after {
	background-color: #e7b2ff;
}
.misc > .tinted-gem.Gambling::after {
	background-color: #ffe6a1;
}
.misc > .tinted-gem.Heal::after {
	background-color: #0e7b00;
}
.misc > .tinted-gem.Income::after {
	background-color: #dda200;
}
.misc > .tinted-gem.Win-More::after {
	background-color: #00ff26;
}
.misc > .tinted-gem.True-Damage::after {
	background-color: white;
}
.misc > .tinted-gem.Autocast::after {
	background-color: #002ad4;
}
.misc > .tinted-gem.Apex::after {
	background-color: #0057c8;
}
.misc > .tinted-gem.Twinning::after {
	background-color: #32ffd6;
}
.misc > .tinted-gem.Active::after {
	background-color: #33c9ff;
}
.misc > .tinted-gem.Quest::after {
	background-color: #ffccb7;
}
.misc > .tinted-gem.Targeted::after {
	background-color: #ff773d;
}
.misc > .tinted-gem.Untargetability::after {
	background-color: #fff04c;
}
.misc > .tinted-gem.Lil-Guys::after {
	background-color: #aa16ff;
}
.misc > .tinted-gem.Range-Only::after {
	background-color: #ff0b0b;
}
.misc > .tinted-gem.Dragon::after {
	background-color: #5c5c5c;
}
